@media screen and (min-width: 800px){
    body {background-color: rgb(0, 153, 145);
    }
}
body {background-color:rgb(163, 0, 0);}

.p1{text-align: center;
font-size: 200%;
color:rgb(5, 199, 248); 
border-color: rgb(255, 60, 0);
border-width: 6px;
border-style: double; 
margin-left: 20%;
margin-right: 20%;
background-color: rgb(0, 0, 0);
margin-bottom: 10%;

}

.p2{
    font-size: 200%;
    color:rgb(0, 255, 157); 
    border-color: rgb(238, 255, 7);
    border-width: 6px;
    border-style: groove; 
    margin-left: 20%;
    margin-right: 60%;
    background-color: rgb(0, 0, 0);
    
    }

    .p3{
        font-size: 200%;
        color:rgb(255, 255, 255); 
        border-color: aqua;
        border-width: 6px;
        border-style: groove; 
        margin-left: 60%;
        margin-right: 20%;
        background-color: rgb(154, 156, 0);
        margin-top: 5%;
        
        }

        .p4{
            font-size: 200%;
            color:rgb(0, 255, 157); 
            border-color: rgb(238, 255, 7);
            border-width: 6px;
            border-style: groove; 
            margin-left: 20%;
            margin-right: 60%;
            background-color: rgb(0, 0, 0);
            margin-top: 5%;
            
            }

            .p5{
                font-size: 200%;
                color:orange; 
                border-color: aqua;
                border-width: 6px;
                border-style: groove; 
                margin-left: 60%;
                margin-right:20%;
                background-color: rgb(0, 0, 0);
                margin-top: 5%;
                
                }

                .p6{
                    font-size: 200%;
                    color:rgb(0, 255, 157); 
                    border-color: rgb(238, 255, 7);
                    border-width: 6px;
                    border-style: groove; 
                    margin-left: 20%;
                    margin-right: 60%;
                    background-color: rgb(0, 0, 0);
                    margin-top: 5%;
                    
                    }

                    .p7{
                        font-size: 200%;
                        color:orange; 
                        border-color: aqua;
                        border-width: 6px;
                        border-style: groove; 
                        margin-left: 60%;
                        margin-right: 20%;
                        background-color: rgb(0, 0, 0);
                        margin-top: 5%;
                        
                        }

                        .p8{
                            font-size: 200%;
                            color:rgb(0, 255, 157); 
                            border-color: rgb(238, 255, 7);
                            border-width: 6px;
                            border-style: groove; 
                            margin-left: 20%;
                            margin-right: 60%;
                            background-color: rgb(0, 0, 0);
                            margin-top: 5%;
                            
                            }

                            .p9{
                                font-size: 200%;
                                color:rgb(2, 106, 167); 
                                border-color: rgb(255, 125, 4);
                                border-width: 6px;
                                border-style: groove; 
                                margin-left: 60%;
                                margin-right: 20%;
                                background-color: rgb(204, 102, 102);
                                margin-top: 5%;
                                }

                                .p10{
                                    font-size: 200%;
                                    color:rgb(0, 116, 71); 
                                    border-color: rgb(255, 23, 7);
                                    border-width: 6px;
                                    border-style: groove; 
                                    margin-left: 20%;
                                    margin-right: 60%;
                                    background-color: rgb(185, 255, 120);
                                    margin-top: 5%;
                                    
                                    }
        
    


